# NPM
node_modules/
package-lock.json
package.json

# TypeScript & ESLint
tsconfig.json
.eslintrc.json

# Git
.git/
.gitignore

# GitHub
.github/
README.md
SECURITY.md
LICENSE.txt

# Visual Studio Code
.vscode/

# Code
source/

# Secrets
.env
