# Node.js
node_modules/
package-lock.json
package.json

# TypeScript
tsconfig.json

# ESLint
.eslintrc.json

# Git
.git/
.gitignore

# GitHub
.github/
README.md
SECURITY.md
LICENSE.txt

# Visual Studio Code
.vscode/

# Secrets
.env

# Code
source/
